.app {
  @apply bg-purple-100
    md:mx-10
    lg:mx-20
    text-center
}

.header {
  @apply 
  bg-purple-200
}

.nav_list {
  @apply
  m-1
  px-3
  flex
  justify-end
  space-x-2
  
}

.nav_list--item {
  @apply
  px-3
border-black
hover:bg-pink-200
  rounded-lg
}

.active {
  @apply
  bg-pink-200
}

.card_img {
  @apply
  flex
  justify-center
}

h1 {
  @apply
  text-2xl
  m-3
  font-bold
}

.card_article--title {
  @apply
  text-2xl
  m-3
}

.card_article--text {
  @apply 
  md:mx-10
  px-10
  text-justify
}